@import url('https://fonts.googleapis.com/css2?family=Epilogue&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;
*{
    scroll-behavior: smooth;
}
body{

    background-color: white;

}
body::after{
    position:absolute; width:0; height:0; overflow:hidden; z-index:-1;
    content:url('/images/hey.png');
  }

  ::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: transparent;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #464646;
    width: 10px;
    border-radius: 42px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }