@import url('https://fonts.googleapis.com/css2?family=Epilogue&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;
*{
    scroll-behavior: smooth;
}
body{

    background-color: white;

}
body::after{
    position:absolute; width:0; height:0; overflow:hidden; z-index:-1;
    content:url('/images/hey.png');
  }

  ::-webkit-scrollbar {
    width: 10px;
}
 
::-webkit-scrollbar-track {
    background-color: transparent;
    -webkit-border-radius: 10px;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: #8f8f8f; 
}